.vs
node_modules
/fade-compendiums.zip
/notes.txt

# Ignore FoundryVTT LevelDB folders
/packs/actors
/packs/scenes
/packs/items
/packs/macros
/packs/rollTables
/packs/journals
/PowerShell_History.txt
